
header{
	text-align: center;
	font-family: helvetica;
	color: white;
	background: url("http://workflow.arts.ac.uk/artefact/file/download.php?file=1045088&view=108608");
	background-size: cover;
	text-decoration: bold;
}

h1{
	font-size: 70px;
	color: #ffffff;
	text-decoration: bold;
}

body { 
	font-family: helvetica;
	background-color: #cce6ff;
	}

.Sky_title {
	float: left;
	width: 200px;
	z-index: 100;
	position: absolute;
	top: 400px;
	left: 500px;
}

.Sky_image {
	float: left;
	width: 100%;
}

.Ground_title {
	float: left;
	width: 200px;
	z-index: 100;
	position: absolute;
	top: 1000px;
	left: 500px;
}

.Ground_image {
	float: left;
	width: 100%;
}

.Soil_title {
	float: left;
	width: 200px;
	z-index: 100;
	position: absolute;
	top: 1500px;
	left: 500px;
}

.Soil_image {
	float: left;
	width: 100%;
}

