
header{
	text-align: center;
	font-family: helvetica;
	background: url("http://workflow.arts.ac.uk/artefact/file/download.php?file=1045088&view=108608");
	background-size: cover;
	text-decoration: bold;

}

h1{
	font-size: 70px;
	color: #ffffff;
	text-decoration: bold;
}

body { 
	font-family: helvetica;
	background-color: #cce6ff;
	}

.Sky{
	padding: 100px;
}

.Grass{
	padding: 100px;
}

.Soil{
	padding: 100px;
}




