header{
	text-align: center;
	font-family: helvetica;
	text-decoration: bold;
}

header h1 {
	background: url("http://workflow.arts.ac.uk/artefact/file/download.php?file=1045088&view=108608");
	background-size: cover;
	color: white;
}

#Navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#Navbar li {
	float: left;
}

#Navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#Navbar li a:hover {
	background-color: #111;
}

body { 
	font-family: helvetica;
	background-color: #cce6ff;
	text-align: center;
	}

.Sky_title {
	float: left;
	width: 200px;
	z-index: 100;
	position: absolute;
	top: 425px;
	left: 550px;
}

.Sky_image {
	float: left;
	width: 100%;
}

.Ground_title {
	float: left;
	width: 200px;
	z-index: 100;
	position: absolute;
	top: 950px;
	left: 550px;
}

.Ground_image {
	float: left;
	width: 100%;
}

.Soil_title {
	float: left;
	width: 200px;
	z-index: 100;
	position: absolute;
	top: 1450px;
	left: 550px;
}

.Soil_image {
	float: left;
	width: 100%;
}

#social-buttons {
	margin: 10px;
}

#social-buttons button {
	color: white;
}

.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}
.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}

#email button {
	margin: 10px;
}